.pagina-total {
  display: flex;
  margin-top: 150px;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}

.tabela1,
.tabela2 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 108px;
  left: 185px;
  top: 79px;
  padding: 10px;

  background: #e6bc7e;

  box-sizing: border-box;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.numero-tabela {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
}

.container2 h2 {
  background: #89be22;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

.container3 {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.botao-tabela {
  cursor: pointer;
}

.pagina-total-mobile {
  display: none;
}

.sem-compras {
  margin-top: 200px;
}

.total-compras {
  background: #89be22;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
  height: 35px;
  margin-top: 25px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.total-compras span {
  font-size: 20px;
}

.tabela-mobile {
  display: none;
}

@media (max-width: 760px) {
  .tabela-web {
    display: none;
  }

  .tabela-mobile {
    display: flex;
  }
  .total-compras {
    background: #89be22;
    border: none;
    color: rgb(255, 255, 255);
    padding: 30px;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 2px rgb(0 0 0 / 25%);
    height: 35px;
    margin-top: 25px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .total-compras span,
  button {
    margin: 0 10px !important;
  }

  nav {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    padding: 0 50px;
  }

  nav img {
    width: 150px;
  }

  .pagina-total {
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
